

/*Hieronder staat een code voor de titel van de paragraaf 1, dit zorgt ervoor dat de grootte door middel van 
padding= de ruimte tussen de inhoud en de rand
font-size= groote van de text
text-align=waar de text komt te staan
font-style= het soort lettertype. Dat het 2e blok aan de bovenkant van mijn pagina er zo uit komt te zien
font-family=welk lettertype er wordt gebruikt
float=dat de text aan de linkerkant van de pagine begint. 
*/
h2{font-style: italic;
font-family: Georgia;
text-align: center;
float: left;
padding: 20px;
font-size: 25px;
}



/*Hieronder staat een code voor de titel van de paragraaf 2, dit zorgt ervoor dat de grootte door middel van 
padding= de ruimte tussen de inhoud en de rand
font-size= groote van de text
text-align=waar de text komt te staan
font-style= het soort lettertype. Dat het 2e blok aan de bovenkant van mijn pagina er zo uit komt te zien
font-family=welk lettertype er wordt gebruikt
float=dat de text aan de linkerkant van de pagine begint. 
*/
h3{font-style: italic;
font-family: Georgia;
text-align: center;
float: left;
padding: 20px;
font-size: 25px;
}



/*Hieronder staat een code voor de titel van de paragraaf 3, dit zorgt ervoor dat de grootte door middel van 
padding= de ruimte tussen de inhoud en de rand
font-size= groote van de text
text-align=waar de text komt te staan
font-style= het soort lettertype. Dat het 2e blok aan de bovenkant van mijn pagina er zo uit komt te zien
font-family=welk lettertype er wordt gebruikt
float=dat de text aan de linkerkant van de pagine begint. 
*/
h4{font-style: italic;
 font-family: Georgia;
 text-align: center;
 float: left;
 padding: 20px;
 font-size: 25px;
}


/*Hieronder staat een code voor de titel van de paragraaf 4, dit zorgt ervoor dat de grootte door middel van 
padding= de ruimte tussen de inhoud en de rand
font-size= groote van de text
text-align=waar de text komt te staan
font-style= het soort lettertype. Dat het 2e blok aan de bovenkant van mijn pagina er zo uit komt te zien
font-family=welk lettertype er wordt gebruikt
float=dat de text aan de linkerkant van de pagine begint. 
*/
h5{font-style: italic;
 font-family: Georgia;
 text-align: center;
 float: left;
 padding: 15px;
 font-size: 25px;
}


/*Hieronder staat een code voor de footer, dit zorgt ervoor dat de grootte door middel van 
padding= de ruimte tussen de inhoud en de rand
font-size= groote van de text
margin=gebruikt om ruimte rond elementen te creëren, buiten gedefinieerde randen
box-sizing= hoe de box eruit komt te zien
text-align=waar de text komt te staan
font-style= het soort lettertype. Dit zorgt ervoor dat mijn naam aan de onderkant van pagina komt te staan.
*/
footer {
box-sizing: border-box;
margin: 0;
background-color: #000000;
padding: 20px;
font-size: 15px;
text-align: center;
color:  rgb(255, 255, 255);
 }



/*Hieronder staat een code voor de achtergrond van mijn home-pagina, dit zorgt ervoor dat de grootte door middel van 
margin=gebruikt om ruimte rond elementen te creëren, buiten gedefinieerde randen
background-image= de downgeloade afbeelding
font-family= het soort lettertype. Dat het 2e blok aan de bovenkant van mijn pagina er zo uit komt te zien*/
#comp{
margin: 0;
font-family: system-ui;
background-image: url("achtergrond\ home\ page.jpg");
}





/*Hieronder staat een code voor een link, dit zorgt ervoor dat de grootte door middel van 
padding= de ruimte tussen de inhoud en de rand
font-size= groote van de text
margin=gebruikt om ruimte rond elementen te creëren, buiten gedefinieerde randen
box-sizing= hoe de box eruit komt te zien
text-align=waar de text komt te staan
font-style= het soort lettertype. Dit zorgt ervoor dat de link een knop wordt met kleuren die je leidt naar de desbetreffende pagina*/
a:link, a:visited {
 background-color:  rgb(121, 161, 130);
 color: white;
 padding: 14px 25px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
}


/*Hieronder staat een code voor afbeeldingen, dit zorgt ervoor dat de grootte door middel van 
display= de vorm van de rand erom heen in dit geval dus blokvormig.
margin=gebruikt om ruimte rond elementen te creëren, buiten gedefinieerde randen. Dit geeft hier aan dat de afbeelding in het midden van de pagina"s zal staan.
border-style= hoe de rand om een afbeelding komt te zien
border-width=hoe dik de rand om de afbeelding zal zijn
Dit is hoe de afbeeldingen op mijn pagina er zo uit komen te zien*/
img {
 border-style: solid;
 border-width: 10px;
 border-color: rgb(0, 0, 0);
 display:block;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
}

  
 




