

/* Style the header */
header {
  background-color: rgba(78, 152, 169, 0.753);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: black;
}

h1{box-sizing: border-box;
  margin: 0;
  background-color: #000000;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  color: rgb(157, 222, 224);
}
 


h2{font-style: italic;
  font-family: Georgia;
  text-align: center;
  float: left;
  padding: 20px;
  font-size: 25px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(144, 149, 145);
}


li {
  float: left;
}

li a {
  display: block;
  color: rgb(2, 2, 2);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(247, 242, 242);
}

.active {
  background-color: #46634e;
}



P {
  width: 1000px;
  padding: 40px;
  border: 5px solid gray;
  margin: 0;
}







/* Style the footer */
footer {
  background-color: SteelBlue;
  padding: 10px;
  text-align: center;
  color: black;
}